* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  height: 100vh;
  height: 100svh;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 64px;
}

article.menu_container {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #DB7A35;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 120px 32px 120px;
  color: #f5f5f5;
}
article.menu_container h2.menu_title {
  font-size: 3rem;
  font-weight: 400;
}
article.menu_container p.menu_paragraph {
  font-size: 1.5rem;
  font-weight: 400;
}
article.menu_container div.coffee_container {
  margin-top: 10px;
  width: 100%;
  min-height: 550px;
  background-color: #282633;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}
article.menu_container div.coffee_container .sun_svg {
  transform: translateX(50%);
  animation: rotate_sun 15s linear infinite;
}
article.menu_container div.coffee_container .orbit {
  --_rotation-time: 5s;
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 4px solid #f5f5f5;
  transform: translateX(50%) rotate(-50deg);
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  animation: rotate_orbit_1 var(--_rotation-time) linear infinite alternate;
  transition: opacity 200ms;
}
article.menu_container div.coffee_container .orbit:nth-of-type(7) {
  width: 70%;
  transform: translateX(50%) rotate(-33deg);
  animation: rotate_orbit_2 var(--_rotation-time) 1.5s linear infinite alternate;
}
article.menu_container div.coffee_container .orbit:nth-of-type(7) div.coffee_cup {
  animation-delay: 1.5s;
}
article.menu_container div.coffee_container .orbit:nth-of-type(6) {
  width: 90%;
  transform: translateX(50%) rotate(-25deg);
  animation: rotate_orbit_3 var(--_rotation-time) 0.5s linear infinite alternate;
}
article.menu_container div.coffee_container .orbit:nth-of-type(6) div.coffee_cup {
  animation-delay: 0.5s;
}
article.menu_container div.coffee_container .orbit:nth-of-type(5) {
  width: 110%;
  transform: translateX(50%) rotate(-20deg);
  animation: rotate_orbit_4 var(--_rotation-time) 3s linear infinite alternate;
}
article.menu_container div.coffee_container .orbit:nth-of-type(5) div.coffee_cup {
  animation-delay: 3s;
}
article.menu_container div.coffee_container .orbit:nth-of-type(4) {
  width: 130%;
  transform: translateX(50%) rotate(-17deg);
  animation: rotate_orbit_5 var(--_rotation-time) 2s linear infinite alternate;
}
article.menu_container div.coffee_container .orbit:nth-of-type(4) div.coffee_cup {
  animation-delay: 2s;
}
article.menu_container div.coffee_container .orbit:nth-of-type(3) {
  width: 150%;
  transform: translateX(50%) rotate(-14.5deg);
  animation: rotate_orbit_6 var(--_rotation-time) 3.5s linear infinite alternate;
}
article.menu_container div.coffee_container .orbit:nth-of-type(3) div.coffee_cup {
  animation-delay: 3.5s;
}
article.menu_container div.coffee_container .orbit:nth-of-type(2) {
  width: 170%;
  transform: translateX(50%) rotate(-13deg);
  animation: rotate_orbit_7 var(--_rotation-time) 1s linear infinite alternate;
}
article.menu_container div.coffee_container .orbit:nth-of-type(2) div.coffee_cup {
  animation-delay: 1s;
}
article.menu_container div.coffee_container .orbit:first-of-type {
  width: 190%;
  transform: translateX(50%) rotate(-11.5deg);
  animation: rotate_orbit_8 var(--_rotation-time) linear infinite alternate;
}
article.menu_container div.coffee_container .orbit:first-of-type div.coffee_cup {
  animation-delay: 2.5s;
}
article.menu_container div.coffee_container .orbit.active {
  opacity: 1;
  z-index: 1;
  animation: none;
  transform: translateX(50%) rotate(0deg);
}
article.menu_container div.coffee_container .orbit.disable {
  opacity: 0.25;
}

@keyframes rotate_sun {
  100% {
    transform: translateX(50%) rotate(360deg);
  }
}
@keyframes rotate_orbit_1 {
  100% {
    transform: translateX(50%) rotate(50deg);
  }
}
@keyframes rotate_orbit_2 {
  100% {
    transform: translateX(50%) rotate(33deg);
  }
}
@keyframes rotate_orbit_3 {
  100% {
    transform: translateX(50%) rotate(25deg);
  }
}
@keyframes rotate_orbit_4 {
  100% {
    transform: translateX(50%) rotate(20deg);
  }
}
@keyframes rotate_orbit_5 {
  100% {
    transform: translateX(50%) rotate(17deg);
  }
}
@keyframes rotate_orbit_6 {
  100% {
    transform: translateX(50%) rotate(14.5deg);
  }
}
@keyframes rotate_orbit_7 {
  100% {
    transform: translateX(50%) rotate(13deg);
  }
}
@keyframes rotate_orbit_8 {
  100% {
    transform: translateX(50%) rotate(11.5deg);
  }
}/*# sourceMappingURL=container.css.map */